<div ng-controller="EditKnjigaCtrl">
	<h1>Izmena knjige</h1>
	
	<div class="row">
		
		<div class="col-12 col-sm-6">
		
			<form>
				<div class="form-group">
					<label for="a">Naziv</label>
					<input class="form-control" id="a" ng-model="knjiga.naziv" />
				</div>
				<div class="form-group">
					<label for="s">Izdanje</label>
					<input class="form-control" id="s" ng-model="knjiga.izdanje"/>
				</div>
				<div class="form-group">
					<label for="d">Pisac</label>
					<input class="form-control" id="d" ng-model="knjiga.pisac"/>
				</div>
				
				<div class="form-group">
					<label for="w">ISBN</label>
					<input class="form-control" id="w" ng-model="knjiga.isbn"/>
				</div>

				<div class="form-group">
					<label for="r">Izdavac</label>
					<select class="form-control" id="r" ng-model="knjiga.izdavacID">
						<option ng-repeat="k in izdavaci" value="{{k.id}}"  ng-selected="knjiga.izdavacID == k.id">{{k.naziv}}</option>
					</select>
				</div>
				<button class="btn btn-primary" ng-click="doEdit()">Izmeni</button>
			</form>
		
		</div>
	</div>
</div>