<div ng-controller="IzdavaciCtrl">
	<h1>Izdavaci</h1>
	
	<div class="row">
		
		<div class="col-12 col-sm-6">
		
			<form>
				<div class="form-group">
					<label for="a">Naziv</label>
					<input class="form-control" id="a" ng-model="newIzdavac.naziv" />
				</div>
				<div class="form-group">
					<label for="s">Adresa</label>
					<input class="form-control" id="s" ng-model="newIzdavac.adresa"/>
				</div>
				<div class="form-group">
					<label for="d">Telefon</label>
					<input class="form-control" id="d" ng-model="newIzdavac.telefon"/>
				</div>
								
				<button class="btn btn-primary" ng-click="doAdd()">Dodaj</button>
			</form>
		
		</div>
		
	</div>
	<div class="row">
		<div class="col-12">
			
			<div class="btn-group float-right" style="margin-bottom:5px">
				<button ng-disabled="pageNum == 0" ng-click="changePage(-1)" class="btn btn-primary">Prethodna</button>
				<button ng-disabled="pageNum == totalPages - 1" ng-click="changePage(1)" class="btn btn-primary">Sledeca</button>
			</div>
					<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Naziv</th>
						<th>Adresa</th>
						<th>Telefon</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in izdavaci| orderBy:'naziv'">
						<td>{{i.naziv}}</td>
						<td>{{i.adresa}}</td>
						<td>{{i.telefon}}</td>
						<td>
							<button class="btn btn-danger" ng-click="doDelete(i.id)" ng-disabled="i.naziv == 'Vulkan' || i.naziv =='Prometej'">Obrisi
							</button>	
						</td>
					</tr>
				</tbody>																			
			</table>                                    
		</div>
	</div>
</div>